.taskrow {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.description {
  padding: 10px 0px;
  overflow: auto;
  width: 100%;
  max-height: 150px;
}

.done {
  background-color: green;
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miss {
  background-color: rgb(151, 14, 14);
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin:5px 0px;
  justify-content: flex-end
}
/* 
.actions1 Button:hover{
 background-color: aquamarine;
} */

.edittasktext {
}
.taskdesc {
  width: 50%;
}

.completed{
  background-color: rgba(0, 128, 0, 0.405);
  color: white;
}

.actionbutton{
  width:20px;
}

.timetext{
  background-color: rgb(230, 235, 79);
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  font-size: 11px;
  margin-bottom: 10px;
}
.time{
  display:flex;
  align-items: flex-start;
}